

.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

.navbar-brand {
  font-weight: 400;
  font-family: 'Arial Rounded MT';
  padding: 10px;
}

.nav-item {
  margin: 5px;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

#logo {
  height: 85px;
  width: 85px;
  padding: 10px;
}
