<body>
  <app-nav-menu></app-nav-menu>
  <header class="mb-5 header"></header>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
  <footer class="pt-3 footer text-light text-center mt-5" style="margin-top: 62px;">


    <div class="pt-5">
      <a href="https://www.linkedin.com/in/savvas-ampatzidis/"><i class="ms-3 fa-lg fab fa-linkedin-in float-lg text-primary"></i></a>
      <a href="https://github.com/AmpatzidisSavvas"><i class="ms-3 fa-lg fab fa-github text-primary"></i></a>
    </div>

    <div class="text-muted">
      <i>© 2023 Copyright: Savvas Ampatzidis</i>
    </div>

  </footer>
</body>
